<%- include('component/header') %>


<table class="table">
  <caption>基本的表格布局</caption>
   <thead>
      <tr>
         <th>App</th>
         <th>版本</th>
         <th>设备</th>
         <th>备注</th>
         <th>下载</th>
      </tr>
   </thead>
   <tbody>
    
   </tbody>
</table>


<script>
  

</script>

<!--
<% data.forEach(function (item) { %>
      <tr>
         <td><%= item.whichapp %></td>
         <td><%= item.version %></td>
         <td><%= item.device %></td>
         <td><%= item.remark %></td>
         <td><a href="http://localhost:5002/upload/<%=item.files  %>">下载</a></td>
      </tr>
    <% }) %>
-->